
body{
	font-family: "Nunito", sans-serif;
	background-image: url('assets/photo.jpg');
	background-position: center 100px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
	
}
