
body{
	font-family: "Nunito", sans-serif;
	background-image: url('assets/unnamed.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
	
}

@media (max-width: 767px) {
    #img {
		display: none;
	}
}

a {
	color: #d08c93;
	font-size: 15px;
}

a:hover {
	color: #acacac;
}


