body{
	font-family: 'sans-serif';
	background-image: url('/assets/contact\ background.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	letter-spacing: 1px;
	
}

@font-face {
	font-family: 'sans-serif';
	src: url('/assets/Poison-Regular.otf');

}

a #img{
position: cover;
width: 1.2in;

}

.navbar-light .navbar-nav .nav-link {
	font-size: 18px;
	color: #70716f;
	padding-left: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
	transition: .6s;
	color: #e4b4bb;
}

h2 {
	color: #70716f;
	padding: 30px 0;
	
}

#signup {
	text-align: center;
	padding: 0 40px 0 40px;

}

#btn:hover {
	background-color: #70716f;
	transition: .5s;
	opacity: .6;
}
