body{
	font-family: 'sans-serif';
	letter-spacing: 1px;

	
}

@font-face {
	font-family: 'sans-serif';
	src: url('/assets/Poison-Regular.otf');

}

a #img{
position: cover;
width: 1.2in;
}

.navbar-light .navbar-nav .nav-link {
	font-size: 18px;
	color: #70716f;
	
}

.navbar-light .navbar-nav .nav-link:hover {
	transition: .6s;
	color: #e4b4bb;
}

.header {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

h2 {
	color: #70716f;
}

p {
	font-size: 18px;
	
}

.col-md-4 {
	display: flex;
	justify-content: center;
	
}

.row img {
	width: 270px;
	height: 280px;
	
}