body{
	font-family: 'sans-serif';
	letter-spacing: 1px;
} 

@font-face {
	font-family: 'sans-serif';
	src: url('/assets/Poison-Regular.otf');

}

a #img{
	position: cover;
	width: 1.2in;
}
	
.navbar-light .navbar-nav .nav-link {
	font-size: 18px;
	color: #70716f;
	padding-left: 15px;
}
	
.navbar-light .navbar-nav .nav-link:hover {
	transition: .6s;
	color: #e4b4bb;
}

h2 {
	color: #70716f;
	padding-bottom: 10px;
}
p {
	font-size: 16px;
	margin-left: 50px;
	margin-right: 50px;
	
}

.bio {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	
}

.row img {
	width: 270px;
	height: 280px;
	
}

.container{
	text-align: center;
	
}


@media (max-width: 992px) {
    .photo {
		display: block;
		
	}
	#candice {
		margin-bottom: 50px;
		margin-right: 0;
	}
	#peyton {
		margin-bottom: 50px;
	}
	#haley {
		margin-bottom: 50px;
		margin-left: 0;
	}

	
}

svg {
	padding-bottom: 5px;
}

@media (max-width: 991px){
   .navExtend {
	display: none;
    }
}

@media (min-width: 992px){
	.navCol {
	 display: none;
	 }
 }




