body{
	font-family: "Nunito", sans-serif;
	background-image: url('/assets/about\ us.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
}

@media (max-width: 767px) {
    #img {
		display: none;
	}
}

#img {
	position: center;
}

.nav-item #img{
	position: cover;
	width: 100%;
	height: 100%px;
	}

a {
	color: #d08c93;
	font-size: 15px;
}

#nav {
	background-color: white;
}

a:hover {
	color: #acacac;
}