body{
	font-family: 'sans-serif';
}

@font-face {
	font-family: 'sans-serif';
	src: url('/assets/Poison-Regular.otf');

}

a #img{
	position: cover;
	width: 75px;
	margin-left: 10px;
}
	
.navbar-light .navbar-nav .nav-link {
	font-size: 18px;
	color: #70716f;
}
	
.navbar-light .navbar-nav .nav-link:hover {
	transition: .6s;
	color: #e4b4bb;
}

#title {
	padding-top: 60px;
	color: #70716f;
}



.card.col-md-6{
	border: 1px solid white;
	padding: 10px;
    margin: 0 auto;
	transition: 0.7s;
}

.card.col-lg-3{
	border: 1px solid white;
	padding: 10px;
	transition: 0.7s;
	
}

.card.col-md-6:hover {
	transition: 0.7s;
	opacity: .3;
}

.card.col-lg-3:hover {
	transition: 0.7s;
	opacity: .3;
}

#inactive:hover {
	opacity: .99;

}

  
@media (min-width: 992px) {
    .card.col-lg-3 {
		margin-top: 50px;
	}
	
}


