body{
	font-family: 'sans-serif';
	letter-spacing: 1px;
	background-color: white;

}

@font-face {
	font-family: 'sans-serif';
	src: url('/assets/Poison-Regular.otf');

}

a #img{
	position: cover;
	width: 1.2in;
	
}
	
.navbar-light .navbar-nav .nav-link {
	font-size: 18px;
	color: #70716f;
	padding-left: 15px;
}
	
a.nav-link:hover {
	transition: .4s;
	color: #70716f;
	border: none;
	border-bottom: 2px solid white;
}


.col-lg-4.col-md-6.col-sm-12 {
	/* border: 1px solid grey; */
	display: flex;
	justify-content: center;
	padding: .5rem;
	
}

p {
	color: #70716f;
	margin-top: 3rem;
}

.container img {
	width: 100%;
	margin: auto ;
  	display: block;
	/* border: 1px solid red; */
	cursor: pointer;
	transition: 0.3s;
}

.container .webs:hover {
	opacity: 0.5;
}

.nav-tabs .nav-link.active, .nav-pills .show>.nav-link {
    color: #70716f;
    background-color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #70716f;
}

.graphics:hover {
	opacity: .5;
}

#smallnav {
	margin-bottom: 40px;
}

@media (max-width: 583px){
    #smallnav {
        flex-direction: column;
        align-items: center;
    }
  
}

svg {
	padding-bottom: 5px;
}

@media (max-width: 991px){
   .navExtend {
	display: none;
    }
}

@media (min-width: 992px){
	.navCol {
	 display: none;
	 }
 }


